@use "../variables";

.hero {
  display: flex;
  column-gap: 48px;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}
.hero__desk {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  max-width: 300px;
}
.hero__desk-p {
  width: 100%;
  text-align: center;
}

.hero__card-desk {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  font-family: variables.$font-family-plus;
  font-weight: 500;
  line-height: 1.4;
}

.hero__card-link {
  transition: variables.$transition-smooth;
  &:hover {
    transform: translateX(4px);
  }
}

.hero__card-link:hover .hero__card-icon {
  animation: arrow-bounce 0.6s ease infinite alternate;
}

@keyframes arrow-bounce {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(6px);
  }
}
.hero__card {
  min-width: 330px;
  min-height: 422px;
}
