.slogan {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  background-image: url(/assets/images/slogan.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 433px;
  margin-bottom: 140px;

  &__title {
    text-align: center;
    max-width: 780px;
  }
}
