@use "variables";

.title {
  font-family: variables.$font-family-rale;
  font-size: 32px;
  font-weight: 500;
  color: variables.$color-primary;
}

.text {
  font-family: variables.$font-family-plus;
  font-size: clamp(15px, 1.6vw, 18px);
  line-height: 1.5;
  color: variables.$color-primary;

  &--muted {
    color: variables.$color-secondary;
  }
}
