$font-family-plus: "M PLUS 1p", sans-serif;
$font-family-rale: "Raleway", sans-serif;

$font-weight-regular: 400;
$border-color: #b3bac1;
$color-primary: #122947;
$color-back: #F4F1ED;
$color-secondary: #9a9da0;
$transition-smooth: all 0.3s ease;
