@use "fonts";
@use "mixins";
@use "normalize";
@use "common";
@use "blocks/navigation";
@use "blocks/button";
@use "blocks/hero";
@use "blocks/bestsellers";
@use "blocks/banner";
@use "blocks/offer";
@use 'blocks/slogan';
@use 'blocks/call';
@use "variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

.container {
  margin-right: 98px;
  margin-left: 98px;
}
.header {
  height: 100vh;
  background-image: url(/assets/images/header_back.webp);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
body {
  overflow-x: hidden;
}

.title {
  font-family: variables.$font-family-rale;
  color: variables.$color-primary;
  font-size: 32px;
  margin: 0;
}
